article {
    width: 500px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 50px;
    margin: 50px auto;
    text-align: center;

}

article svg {
    width: 100%;
}

article svg path {
    fill: rgb(164, 214, 234);
    stroke: rgb(32, 73, 138); /*stroke : 선 속성*/
    stroke-width: 3;
    stroke-dasharray: 1420;
    stroke-dashoffset: -1420;

}

article:hover svg path {
    stroke-dashoffset: 0;
    transition: all 3s;
}