/*놀이기구 회전*/
@keyframes rotation {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg)}
}

/*배경색 변경*/
@keyframes sky {
    0% {background-color: #b08fcc;}
    25% {background-color: #b1e1e2;}
    50% {background-color: #fcd2e2;}
    75% {background-color: #636888;}
    100% {background-color: #b08fcc;}
}

/*태양 회전*/
@keyframes sun {
    0% {opacity: 0; transform: rotate(-90deg);}
    25% {opacity: 1; transform: rotate(-30deg);}
    50% {opacity: 1; transform: rotate(30deg);}
    75% {opacity: 0; transform: rotate(90deg);}
    100% {opacity: 0; transform: rotate(-90deg);}
}

/*밤에 특정 요소 숨기기*/
@keyframes day {
    0% {opacity: 0;}
    25% {opacity: 1;}    
    50% {opacity: 1;}    
    75% {opacity: 0;}    
    100% {opacity: 0;}    
}

/*사람과 구름 오른쪽으로 이동*/
@keyframes flow {
    0% {left: 0%; opacity: 0;}
    10% {opacity: 1;}
    80% {opacity: 1;}
    100% {left: 90%; opacity: 0;}
}

body {
    animation: sky linear 20s infinite;
}

h1 {
    animation: day  linear 20s infinite;
}

section .sky .sun {
    animation: sun linear 20s infinite;
}

section .sky .cloud1 {
    animation: flow linear 10s infinite;
}

section .sky .cloud2 {
    animation: flow linear 20s infinite;
}

section .town .day {
    animation: day linear 20s infinite;
}

section .town .circle {
    animation: rotation linear 20s infinite;
}

section .people {
    animation: day linear 20s infinite;
}

section .people .man {
    animation: flow linear 7s infinite;
}

section .people .family {
    animation: flow linear 20s infinite;
}